

a.navbar-brand {
    /*color: #fff;*/
    margin-left: 55% !important;
    margin-bottom:-1em;
}

@media (min-width:320px) and (max-width:750px){
    a.navbar-brand {
      /*color: #fff;*/
      margin-left: 0 !important;
      margin-bottom:1em;
      margin-top:1em;
    }
}
